.contBox1 {
    width: 100%;
    height: auto;
    background: #455a64;
    color: #fff;
    padding: 3rem;
}
.contBox1Text {
    width: 350px;
    border: 3px solid white;
    padding: 1rem;
    position: absolute;
    top: 160px;
    left: 20px;
}
.contBox1 > img:nth-child(2) {
    z-index: 3;
    position: absolute;
    top: 100px;
    right: 30px;
}
.contBox1 > img:nth-child(3) {
    width: inherit;
    z-index: -1;
}
.doughnut {
    position: absolute;
    top: 375px;
    right: 406px;
    width: 400px;
    height: 400px;
    /* background-color: transparent; */
    backdrop-filter: blur(15px);
    border-radius: 50%;
    border: 26px solid lightblue;
    z-index: 4;
}
.contBox1Card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 585px;
    right: 90px;
    color: black;
    padding: 1rem;
    border: 4px solid;
    backdrop-filter: blur(30px);
}
.contBox2 {
    background: #fff;
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  grid-gap: 10px;
    padding: 3rem;
}
.contBox2 > img {
    width: 100%;
    height: 100%;
    /* margin: 1rem; */
}
.contBox3 {
    background-color: #455a64;
}
.cube {
    position: absolute;
    width: 763px;
    height: 500px;
    /* background-color: transparent; */
    backdrop-filter: blur(5px);
    border: 26px solid lightblue;
    z-index: 4;
    position: absolute;
    right: 92px;
    top: 1767px;
}
.contBox3text {
    color: #fff;
    width: 300px;
    margin: 2rem;
    padding: 1rem;
}
.contBox3text2 {
    color: #fff;
    width: 400px;
    padding: 1rem;
    position: absolute;
    right: 203px;
    top: 1782px;
    font-size: xx-large;
    z-index: 6;
}
.contBox3Images {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contBox3Images > img:nth-child(1) {
    width: 50%;
    height: 50%;
    margin: 1rem 6rem 1rem 1rem;
}
.contBox3Images > img:nth-child(2) {
    width: 30%;
    height: 50%;
    margin: 1rem;
    z-index: 5;
}
.contBox4Head {
    margin: 3rem;

}
.contBox4Body {
    display: flex;
    padding: 1rem;
    height: 550px;
}
.contBox4Body > div {
    margin: 1rem;
}
.contBox4Body > div > h4 {
    border-bottom: 3px solid lightblue;
}
.contBox4Body > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.contBox5 {
    width: 100%;
    height: 600px;
    background: url(./images/dog04.png);
    background-size: cover;
    background-position-y: -208px;
}
.contBox5Main {
    display: flex;
    padding-top: 375px;
}
.contBox5Text {
    height: 130px;
    color: #fff;
    background: orange;
    width: 335px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contBox5Text2 {
    height: 130px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}