.contBox1 {
    width: 100%;
    height: auto;
    background: #455a64;
    color: #fff;
    padding: 3rem;
}
.contBox1Text {
    width: 350px;
    border: 3px solid white;
    padding: 1rem;
    position: absolute;
    top: 160px;
    left: 20px;
}
.contBox1 > img:nth-child(2) {
    z-index: 3;
    position: absolute;
    top: 100px;
    right: 30px;
}
.contBox1 > img:nth-child(3) {
    width: inherit;
    z-index: -1;
}
.doughnut {
    position: absolute;
    top: 375px;
    right: 406px;
    width: 400px;
    height: 400px;
    background-color: transparent;
    border-radius: 50%;
    border: 26px solid lightblue;
    z-index: 4;
}
.contBox1Card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.contBox2 {
    background: #fff;
    display: grid;
    grid-template-columns: fr1 fr1 fr1;
    padding: 3rem;
}
.contBox2 > img {
    width: 400px;
    height: 300px;
}